.App {
  display: flex;
  text-align: center;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.btn-bg {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.button-bg {
  display: flex;
  align-items: center;
}

.button-bg button {
  height: 50px;
  width: 50px;
  font-size: 25px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background-color: rgb(198, 209, 255);
  border: 1px solid rgb(0, 143, 131);
}

.red-result {
  color: red;
}